:host {
  width: 350px;
  border: 1px solid black;
  border-radius: 12px;
  padding: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(245, 241, 241);
}


.product--image {
  padding: 18px 0px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.product--image img {
  width: calc(100% - 32px);
  border-radius: 12px;
  object-fit: cover;
  height: 300px;
}

.product--info {
  padding: 0 18px;
}

.product--info__description {
  text-align: justify;
}

.buy {
  background: yellow;
}

.add {
  background: greenyellow;
}

.border-btn {
  border: 1px solid black;
}

.form {
  padding: 18px;
  display: flex;
  flex-direction: column;
  width: 350px;
}

label {
  margin-top: 5px;
}

input {
  margin-top: 5px;
}

.actions {
  margin-top: 18px;
  display: flex;
  justify-content: flex-end;
}

.actions button {
  margin-left: 10px;
  border: none;
  height: 50px;
  width: 100px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}



