/* You can add global styles to this file, and also import other style files */
button {
    border-radius: 12px;
}

/* div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 200px;
} */

